.pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.5%;
    margin-left: 15%;
    margin-right: 15%;
}
.long-pic{
    width: 100%;
}
.pic-23{
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5%;
}
.short-pic{
    width: 100%;
}
