.pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2%;
    margin-left: 12%;
    margin-right: 16%;
}
.long-pic{
    width: 100%;
}
.pic-23{
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 2%;
}
.short-pic{
    width: 100%;
}